.swal-link {
  color: #50bcff;
}

.swal-big-title {
  font-family: "Pretendard Variable", Pretendard, -apple-system;
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  color: rgb(39, 39, 39);
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  margin-bottom: -8px;
}

.swal-title {
  font-family: "Pretendard Variable", Pretendard, -apple-system;
  font-size: 16px;
  font-weight: 300;
  padding-top: 30px;
  color: rgb(39, 39, 39);
  font-weight: 500;
}

.swal-confirm {
  font-family: "Pretendard Variable", Pretendard, -apple-system;
  font-size: 14.5px;
  font-weight: 400;
  padding: 7px 14px;
  border-radius: 4px;
}

.swal-cancel {
  font-family: "Pretendard Variable", Pretendard, -apple-system;
  font-size: 14.5px;
  font-weight: 400;
  padding: 7px 14px;
  border-radius: 4px;
}

.swal2-validation-message {
  background: #ffffff;
  color: #d9534f;
  font-size: 13px;
  font-weight: 500;
  padding: 0px 12px 6px 12px;
  border-radius: 6px;
  margin-top: 5px;
  text-align: left;
}

.swal2-popup input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: rgb(80, 188, 255);
  cursor: pointer;
  margin-right: 6px;
  vertical-align: middle;
}
